/* Mapa, body, img */

html,           
body,
img,
#mapa {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

/* Ventana  */

.ventana {
    color: blue;
    background-color: white;
    
}

/* Popup content leflet */

.leaflet-popup-content {

    width: 400px; /* Default = auto */
    height: 400px
}

/* Tabla */

.tabla {
    width:auto;
    height:auto;
    border: 1px solid black;
    background-color: lightblue;
    text-align: center;
}

/* Download Icon */

.btn {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 2px 2px;
    cursor: pointer;
    font-size: 10px;
  }

  /* Images Side by Side */

  .column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
  .row::after {
    content: "";
    clear: both;
    display: table;
  }